body{
    background-color: #38908F;
}
#card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 100%;
    margin: 6rem auto 8.1rem auto;
    width: 900px;
}
#card-content {
    padding: 12px 44px;
}
#card-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}
.underline-title {
    background: -webkit-linear-gradient(right, #38908F, #afeeed);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 100px;
}
#newtask {
    position: relative;
    padding: 20px 15px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);;
    width: 500px;
}
#newtask input{
    position: relative;
    text-align: center;
    border-radius: 5px;
    width: 70%;
    height: 10px;
    font-size: 15px;
    border: 2px solid whitesmoke; 
    padding: 12px;
    color: black;
    font-weight: 500;
}
#newtask button{
    position: relative;
    float: right;
    width: 100px;
    height: 45px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    background: -webkit-linear-gradient(right, #38908F, #afeeed);
    color: rgb(24, 17, 17);
    border: none;
    outline: none;
    cursor: pointer;
}
#newtask input:focus{
    outline: none;
    border-color: #afeeed;
}
#tasks{
    width: 87%;
    position: relative;
    margin: 40px;
    background: rgb(255, 255, 255);
    padding: 30px 20px;
    border-radius: 5px;
}
.task{
    background: #fbfbfb;
    height: 50px;
    padding: 5px 10px;
    border-radius: 0;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 2px solid white;
    font-size: 16px;
}
.task span{
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
.task button{
    position: relative;
    float: right;
    width: 100px;
    height: 45px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    background: -webkit-linear-gradient(right, #38908F, #afeeed);
    color: rgb(24, 17, 17);
    border: none;
    outline: none;
    cursor: pointer;
}
.completed{
    text-decoration: line-through;
    opacity: 0.7;
}